$border-radius: 0.3em;

@mixin round-border() {
  border-radius: $border-radius;
}

img {
  height: 200px;
  width: 200px;
  object-fit: cover;
  object-position: top;
  @include round-border();
}
a {
  margin: 1em;
}
.card-detail {
  margin-left: 1em;
}

button {
  margin: 1em;
  padding: 1em;
  border: 0;
  width: 10em;
  @include round-border();
}
